{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apontamentos</title>
    <!-- Carrega o CSS styles na pasta css -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>R1 - MATERIAIS PARA CONSTRUÇÃO</h1>
        {% bootstrap_messages %}

        <!--<form action="{% url 'appointments' %}" method="post" class="form" autocomplete="off"> -->
        <form action="{% url 'appointments' %}" method="post">
            {% csrf_token %} <!-- Em formulário sempre precisará iniciar o token -->

            {% buttons %} <!-- Cria um botão -->
            <button type="submit" class="btn" value="Click" name="btnImport">Importar</button>
            {% endbuttons %}
       </form>
    </div>

</body>
</html>